<header>
  <nav class="bg-green-400 border-gray-200 px-4 py-2.5 rounded">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      
      <!-- ロゴ部分を文字列に変更 -->
      <%= link_to root_path, class: "flex items-center" do %>
        <span class="self-center text-2xl font-bold whitespace-nowrap">UFOWINS</span>
      <% end %>

      <!-- ナビゲーションメニュー -->
      <div id="navbar-default" class="block w-auto">
        <ul class="flex items-center p-4 rounded-lg bg-green-400 space-x-8 text-sm font-medium">
	        <li>
            <!-- 投稿一覧へのリンク -->
            <%= link_to "投稿一覧", root_path, class: "block py-2 px-4 text-gray-500 bg-white rounded hover:bg-gray-100" %>
          </li>
          <li>
            <!-- ユーザー名（ユーザー詳細ページへのリンク） -->
            <%= link_to "#", class: "block py-2 px-4 text-gray-500 bg-white rounded hover:bg-gray-100" do %>
              <%= current_user.name %>
            <% end %>
          </li>
          <li>
            <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete }, class: "block py-2 px-4 text-gray-500 bg-white rounded hover:bg-gray-100" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
